#card{
    background-color: #202020;
}
body{
    background-color: #151515;
}
.GameName{
    color: aliceblue;

}
.GameDescription{
    color: antiquewhite;
}
#GameRating{
    color:aliceblue;
}
#GameStar{
    color: yellow;
}
.fab, .fas{
    color:aliceblue;
}